body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
}
table {
  width: 100%;
}
#btNovo {
  width: auto;
}
td {
  text-align: center;
}
td input {
  width: 85%;
}
td.col_3, th.col_3,
td.col_7, th.col_7,
td.col_8, th.col_8,
td.col_9, th.col_9,
td.col_10, th.col_10,
td.col_11, th.col_11 {
  background: #a0a0a0;
}